<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>PetQR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href ="https://cdnjsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" rel ="stylesheet">
    
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" >    
</head>

<body class="bg-light">

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand fw-bold" href="/">PetQR</a>
        <a href="/registrar/" class="btn btn-light btn-sm">Registrar mascota</a>
    </div>
</nav>

<main class="container py-5">
    {% block content %}
    {% endblock %}
</main>

</body>
</html>